.container_home {
  display: flex;
  padding: 15px;
  flex-direction: column;
}
.wrapper_titles>h4 {
  color: #fff;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  
  
  

}
.wrapper_titles {
  display: flex;
  justify-content:space-between;
}
.all_cards {
  display: flex;
  column-gap: 30px;
  
}
.wrapper_titles>button{
  all:unset;
  color: white;
  font-size: 15px;
  font-weight: 400;

  
}

