.container_titles >h4 {
  color:white;
  margin: 0;
  margin-bottom: 5px;
}
.container_titles >p {
  color:rgb(179,179,179);
  margin:0;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
 
.container_card {
  display: flex;
  flex-direction: column;
  background-color:rgba(0,0,0,0.3);
  padding: 16px;
  border-radius: 4px;
  transition: all ease-in-out 0.3s;
  
  
}
.container_card >img {
  height: 150px;
  border-radius: 4px;
  width: 150px;
  margin-bottom: 15px;
}
  .container_titles {
    width: 150px;
    min-height: 62px;
  }
  .container_card:hover {
    background-color:rgba(0,0,0,0.5);
    cursor: pointer;
  }
