.App {
  all:unset;
  height: 100%;
}
html {
  all:unset;
  height: 100%;
  box-sizing: border-box;
}
body {
  all:unset;
  height: 100%;
}
#root {
  height:100%;
}
*{
  font-family: "Nunito",sans-serif;
}